<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <!-- photino's native library has to be unpacked to disk before it can load -->
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <DebugType>embedded</DebugType>
    <AllowedReferenceRelatedFileExtensions>.none</AllowedReferenceRelatedFileExtensions>
    <PublishDir>../../dist/linux-x64/</PublishDir>
  </PropertyGroup>
</Project>
